<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="card">
  <div class="card-content">
    <span class="card-title">Create Account</span>
    <div class="input-field">
      <input
        formControlName="email"
        id="email"
        type="email"
        [ngClass]="{'invalid':form.get('email')?.touched &&form.get('email')?.invalid}"
      >
      <label for="email">Email:</label>
      <div
        *ngIf="form.get('email')?.touched &&form.get('email')?.invalid"
        class="helper-text red-text">
        <span *ngIf="form.get('email')?.errors?.['required']">Enter field email</span>
        <span *ngIf="form.get('email')?.errors?.['email']">Enter valid email</span><span></span>
      </div>
    </div>
    <div class="input-field">
      <input
        [ngClass]="{'invalid':form.get('password')?.touched &&form.get('password')?.invalid}"
        formControlName="password"
        id="password"
        type="password"
      >
      <label for="password">Пароль:</label>
      <div
        *ngIf="form.get('password')?.touched &&form.get('password')?.invalid"
        class="helper-text red-text">
        <span *ngIf="form.get('password')?.errors?.['required']">Enter password</span>
        <span *ngIf="form.get('password')?.hasError('minlength')">
          Password must be more than {{ form.get('password')?.getError('minlength')?.requiredLength }} symbols.
          Now it is {{ form.get('password')?.getError('minlength')?.actualLength }}</span>

      </div>
    </div>
  </div>
  <div class="card-action">
    <button
      [disabled]="form.invalid || form.disabled"
      type="submit"
      class="modal-action btn waves-effect">Create
    </button>
  </div>
</form>
